*~
*.iml
*.log
*.sw?
*.swp
*jar
.DS_Store
.cljs_rhino_repl
.idea
.lein*
.lein-deps-sum
.lein-env
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl*
.nrepl-port
.repl
bin/publish-local
checkouts
classes
compiled
datahub.log*
docs/.asciidoctor/
docs/basic-db.png
docs/mutations.png
examples/calendar/resources/public/js/specs
examples/calendar/src/quiescent_model
examples/todo/src/quiescent_model
figwheel_server.log
lib
node_modules
out
resources/private/js
resources/public/js
resources/public/js/cards
resources/public/js/test
target
resources/public/getting-started.html
resources/public/.asciidoctor/
resources/public/*.png
docs/_site
docs/.sass-cache
docs/Gemfile.lock
docs/js/[a-fh-su-z]*
docs/js/goog
docs/js/garden
old-docs/.asciidoctor
old-docs/plumbing.png
DevelopersGuide.html
docs/.jekyll-metadata
.floo
.flooignore
.asciidoctor
/ReferenceGuide.html
.cpcache
.shadow-cljs
resources/public/workspaces
!.idea/runConfigurations
.lsp
