{:paths   ["src/main" "src/todomvc"]

 :deps    {edn-query-language/eql     {:mvn/version "0.0.3"}
           com.taoensso/timbre        {:mvn/version "4.10.0"}
           com.taoensso/tufte         {:mvn/version "2.0.1"}
           com.cognitect/transit-clj  {:mvn/version "0.8.313"}
           com.cognitect/transit-cljs {:mvn/version "0.8.256"}
           cljsjs/react               {:mvn/version "16.8.3-0"}
           cljsjs/react-dom           {:mvn/version "16.8.3-0"}
           com.wsscode/pathom         {:mvn/version "2.2.14"}
           org.clojure/clojure        {:mvn/version "1.10.0"}
           org.clojure/clojurescript  {:mvn/version "1.10.520"}
           org.clojure/core.async     {:mvn/version "0.4.474"}}

 :aliases {:test      {:extra-paths ["src/test"]
                       :extra-deps  {org.clojure/test.check  {:mvn/version "0.10.0-alpha4"}
                                     fulcrologic/fulcro-spec {:mvn/version "3.0.1"}}}

           :clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-418"}}}

           :dev       {:extra-paths ["src/dev"]
                       :extra-deps  {binaryage/devtools          {:mvn/version "0.9.10"}
                                     expound                     {:mvn/version "0.7.2"}
                                     gnl/ghostwheel              {:mvn/version "0.3.9"}
                                     org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}}}}}
