{:port   8081
 :sqldbm {:accounts {:hikaricp-config "config/accountpool.props"
                     :auto-migrate?   true
                     :create-drop?    true
                     :migrations      ["classpath:config/migrations"]}}}
