@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.base-font
{
font-family: 'Lato' sans-serif;
}

.overlay {
background-color: rgb(230,230,240);
width: 194px;
}

.hidden {
display:none;
}

.test-report {
display: block;
font-size: 20pt;
}

.test-item {
   display: block;
   font-size: 13pt;
}

.test-header {
   display: block;
   font-size: 18pt;
}

.test-pending
{
   color: gray;
   font-family: 'Lato' sans-serif;
}

.test-passed
{
   color: green;
font-family: 'Lato' sans-serif;
}

.test-error
{
   color: red;
font-family: 'Lato' sans-serif;
}

.test-failed
{
font-family: 'Lato' sans-serif;
   color: red;
}

.test-list
{
list-style-type: none;
}

.test-result
{
   margin: 12px;
   font-size: 16px;
   font-family: 'Cutive Mono', monospace;
}

.test-result-title
{
   font-size: 16px;
   font-family: 'Lato' sans-serif;
}

.test-count
{
   margin-top: 20px;
   margin: 20px;
   font-size: 16px;
   font-family: 'Lato' sans-serif;
}

