div.vcr-controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50pt;
    width: 100%;
    opacity: 0.5;
    background-color: #f7f7f7;
    color: black;
    text-align: center;
}

.vcr-controls .container {
    padding-top: 1em;
    max-width: 30em;
    text-align: center;
}

.current-position {
    padding: 14pt;
}

.status-area {
    width: 22em;
}
div.status {
    width: 400px;
    position: relative;
    display: inline;
    text-align: center;
}
