/* Sorry, I'm a great engineer, but lousy at CSS */
.done {
text-decoration: line-through;
color: red;
}
ul.filters {
  list-style-type: none;
  display: inline;
}
.filters li {
display: inline;
float: left;
margin-left: 5px;
}
.selected {
text-decoration: underline;
}
.overlay {
background-color: rgb(230,230,240);
width: 194px;
}
.hidden {
display:none;
}
.calendar {
display: block;
font-size: 8pt;
}
.control {
margin: 5px;
}

.week {
display: inline-flex;
width: 400px;
}

.day {
display: block;
width: 20pt;
height: 20pt;
margin-left: -1px;
margin-top: -1px;
border: 1px solid black;
float: left;
}
